html, body {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

/* MENU */
aside {
    position: fixed;
    float: left;
    width: 300px;
    height: 100%;
    background-color: #444444;
    text-align: center;
    color: #8f8d8d;
}

.inner {
    width: 70%;
    position: relative;
    padding: 40px;
    display: inline-block;
}

.logo {
    display: block;
    font-family: 'PT Sans', sans-serif;
    font-size: 42px;
    font-weight: bold;
    line-height: 0;
    margin: 30px 30px;
}

.logo .small {
    display: block;
    font-size: 24px;
    margin-top: -12px;
    line-height: 0;
    margin: 25px 0px;
}

aside hr {
    margin: 10px 0px;
    border-color: #8f8d8d;
}

aside small {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

aside ul {
    margin: 40px 0px;
}

aside ul > li {
    list-style: none;
}

aside ul > li a {
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin: 10px 0px;
    color: #dcdcdc;
    text-decoration: none;
    font-size: 14px;
}

aside ul > li.active a {
    text-decoration: underline;
}

.copyright {
    width: 100%;
    display: block;
    position: absolute;
    bottom: 15px;
    text-align: center;
}

.copyright small {
    font-size: 11px;
    opacity: 0.6;
}

.github {
    margin: 0 auto;
    bottom: 0;
    position: relative;
    display: block;
    width: 68%;
    bottom: 15px;
    padding: 10px;
    line-height: 20px;
    background-color: #fff;
    color: #444444;
    border-radius: 4px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}

.github:hover {
    background-color: #e3e3e3;
}

.github img {
    position: absolute;
    width: 25px;
    left: 10px;
    top: 8px;
}

/* MAIN */
main {
    float: left;
    padding-left: 300px;
    width: calc(100% - 300px);
    height: 100%;
    background-color: #f5f5f5;
}

#top {
    width: 100%;
    background-color: #fff;
}

#projects {
    width: 100%;
    min-height: auto;
    padding: 0;
    margin: 0;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: #E0E0E0;
}

.project {
    display: flex;
    flex-basis: auto;
    position: relative;
    width: 33.3%;
    height: 35vh;
    -webkit-align-self: flex-start;
    align-self: flex-start;
    cursor: pointer;
    transition: all 1s ease-out;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.project .background {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.project .background .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #212121;
  opacity: 0.4;
}

.project .title {
    position: absolute;
    bottom: 40px;
    left: 15px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    color: #FFF;
    font-size: 24px;
}

.button {
  font-size: 14px;
  color: #FFF;
  width: 90px;
  text-align: center;
  text-decoration: none;
  margin: 20px 10px 10px 0px;
  display: block;
  padding: 10px;
  border-radius: 4px;
  background-color: #AED581;
  border: 1px solid #C5E1A5;
}

.button + .button {
  background-color: #BDBDBD;
  border: 1px solid #9E9E9E;
}

.button:hover {
  background-color: #C5E1A5;
}

.button + .button:hover {
  background-color: #9E9E9E;
}

/* Responsive menu */
.hamburger {
    position: fixed;
    z-index: 9999;
    display: none;
    width: 100%;
    height: 40px;
    background-color: #444444;
    color: #FFF;
}
