 #project {
      font-family: 'Raleway', sans-serif;
      font-size: 13px;
      line-height: 24px;
      color: #6f6f6f;
      letter-spacing: 0.5px;
      overflow-x: hidden !important;
      background-color: #f5f5f5;
      min-height: 100%;
}
    
.title {
    display: block;
    position: relative;
    margin-top: -5px;
    margin-bottom: 35px;
}

.content {
    margin-bottom: 45px !important;
    padding: 0 30px;
}

h5 {
    font-size: 18px;
    line-height: 24px;
    color: #3f3f3f;
    text-transform: uppercase;
    margin: 0 0 15px 0;
    letter-spacing: 2px;
}

p {
    margin-bottom: 20px;
    margin: 0 0 10px;
}

dl dt {
    color: #3f3f3f;
    float: left;
    font-weight: bold;
    padding: 10px 5px 10px 0px;
}

dl dd {
    border-top: solid 1px #efefef;
    border-bottom: solid 1px #efefef;
    padding: 10px 10px 10px 5px;
    margin-bottom: -1px;
}

dd, dt {
    line-height: 1.42857143;
}

.frame {
    padding: 10px;
    background-color: #FFF;
    border-radius: 4px;
}

.frame img {
    width: 100%;
    height: 100%;
}

#project { width: 100%; height: 100%; float: left; }
#project .left { width: 40%; height: 100%; background-color: #FFF; float: left; }
#project .right { float: right; width: 60%; height: 100%; }
.wrap-section { padding: 60px 0; position: relative; }