<div *ngIf="project" id="project">
    <div class="left">
        <div class="wrap-section">
            <div class="content">
                <div class="title-section">
                    <h5 class="title">{{project.name}}</h5>
                </div>
                <p>
                  {{project.description}}
                </p>
                </div>
                <div class="content">
                    <div class="title-section">
                    <h5 class="title">Project details</h5>
                </div>
                <dl>
                    <dt>Client: </dt>
                    <dd>{{project.client}}</dd>
                    <dt>Date: </dt>
                    <dd>{{project.date}}</dd>
                    <dt>Category: </dt>
                    <dd>Application</dd>
                    <dt>Tags: </dt>
                    <dd>{{project.tags}}</dd>
                </dl>
                <a class="button" target="_blank" *ngIf="project.repository" href="{{project.repository}}">View code</a>
                <a class="button" target="_blank" *ngIf="project.preview" href="{{project.preview}}">View code</a>
                <br />
                 <a href="javascript:void()" (click)="goToProjects()"><< Back to projects</a>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="wrap-section">
            <div class="content">
                <div class="frame">
                    <img [attr.src]="'images/' + project.image" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
