<div id="project">
    <div class="left">
        <div class="wrap-section">
            <div class="content">
                <div class="title-section">
                    <h5 class="title">{{project.name}}</h5>
                </div>
                <p>
                    Nullam mattis condimentum molestie. Nam gravida elementum dui sit amet ornare. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Duis a velit libero, eu aliquam nisi. Integer ac massa tortor, at eleifend nisi.<br /><br />
                    Lorem ipsum dolor sit amet, ad eam enim atqui, nam ei phaedrum indoctum forensibus, mei reque veritus incorrupte id. 
                    Duo legendos accommodare cu, vix eu impedit splendide concludaturque. Nam ne clita graece conceptam.
                </p>
                </div>
                <div class="content">
                    <div class="title-section">
                    <h5 class="title">Project details</h5>
                </div>
                <dl>
                    <dt>Client: </dt>
                    <dd>Themeforest</dd>
                    <dt>Date: </dt>
                    <dd>Feb 26, 2016</dd>
                    <dt>Category: </dt>
                    <dd>Web Design</dd>
                    <dt>Tags: </dt>
                    <dd>Photo, Graphic, Web Design</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="wrap-section">
        </div>
    </div>
</div>